<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout7 :: head}"></head>
<body class="bg-stone-900 text-stone-100 flex flex-col items-center min-h-screen w-screen">

<header th:replace="~{layout/layout7 :: header}"></header>

<div class="w-screen min-h-screen flex flex-col items-center pt-32 px-6">
  <h1 class="text-4xl font-bold text-yellow-100 mb-6 font-['Poppins']">[[${title}]]</h1>

  <section class="w-full grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-all"
         th:each=" convocatoria : ${Convocatorias}">
      <div class="p-6">
        <p class="text-lg font-bold text-gray-800">
          Convocatoria N°: [[${convocatoria.idConvocatorias}]]
        </p>
        <h2 class="text-2xl font-semibold text-stone-800">[[${convocatoria.titulo}]]</h2>
        <p class="text-sm text-gray-800">
          Fecha de inicio:
          <span th:text="${#dates.format(convocatoria.fechaIni, 'dd/MM/yyyy')}"></span>
        </p>

        <p class="text-sm text-gray-800">
          Fecha de fin:
          <span th:text="${#dates.format(convocatoria.fechaFin, 'dd/MM/yyyy')}"></span>
        </p>
        <div class="mt-4 flex gap-2">
          <a th:href="@{${urlRegisterStarup}}"
             class="flex-1 bg-amber-700 text-white text-center py-2 rounded-lg hover:bg-amber-500 transition-all">
            crear Startup
          </a>
        </div>

      </div>
    </div>
  </section>
</div>


<div id="toast-exito"
     class="fixed top-5 left-1/2 -translate-x-1/2 bg-green-600 text-white px-6 py-3 rounded-xl
            shadow-xl transition-opacity duration-300 opacity-0 z-50 text-lg font-semibold"
     th:if="${mensajeExito}"
     th:text="${mensajeExito}">
</div>

<footer class="mt-10" th:replace="~{layout/layout :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
